html,body {
    height: 100%;
    margin: 0px;
}

#quiz {
    background: #F5F5F5;
    margin: auto;
    width: 800px;
    height: 100%;
    padding: 20px;
    font-size: 18px;
}

#questionNo {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

#question, #answer {
    overflow: auto;
    max-height: 40%;
    margin: 20px;
    padding: 20px;
    text-align: left;
    background: #FFFFFF;
}

#quizButton {
    margin: auto;
    vertical-align: middle;
}

#pageNo {
    width: 100%,
    align: auto;
    text-align: right;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.button {
    background: #f76d6d;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 45px;
    border: none;
    color: white;
    outline: none;
}

code {
    font-size: 16px;
    background: #F5F5F5;
    padding: 0px 5px;
}